@import "tailwindcss";
*{
  text-transform: capitalize;
  box-sizing: border-box;
}
.bar{
  box-shadow: none;
  z-index: 80;
  cursor: pointer;
  &:hover{
   background-color: rgb(253, 252, 252);
  }
}

.bar-box{
  z-index: 88;
}